h1 {
    color: #fffffff3;
}

body {
    background-image: url(./Assets/pexels-photo.jpg);
    color: #fffffff3;
}

#headerInfo{
    font-size: large;
}

#projectName{
    text-align: center;
}

.projectImage{
    border-radius: 15px;
}

#projectLinks{
    text-align: center;
    font-size: large;
    font-weight: 500;
    color: black;
}

.image-left {
    width: 400px;
    height: 450px;
    border-radius: 10%;
    float: left;
    padding: 0 10px 0 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
  }

.container {
    padding: 15px;
}

.footer {
    padding: 5px;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: fixed;
    background-color: rgb(50, 50, 54);
}